:root {
    --P: #EF3F54;
    --W: #FFFFFF;
    --text: #000;
    --grey-400: #25282B;

    --Gray-1: #18191F;
    --Gray-2: #474A57;
    --Gray-3: #969BAB;
    --Gray-4: #D9DBE1;
    --Gray-5: #EEEFF4;
    --Gray-6: #F4F5F7;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

#main {
    margin: 0;
    padding: 0;
}

#header {
    width:100%;
    background-color: var(--W);
    position: fixed;
    z-index: 1;
    box-shadow: 0 0 10px 0 ;
    display: flex;
    align-items: center;
    height: 52px;                                               
    flex-shrink: 0;
}
.logo-web {
    display: flex;
width: 102px;
height: 36px;
padding: 5px 10px 5px 11px;
justify-content: center;
align-items: center;
}
.logo-web img {
    width: 81px;
    height: 26px;
    cursor: pointer;
}
.header-warp__left {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.header-warp__right {
    display: flex;
    align-items: center;
}
.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.nav-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.nav-wrap__item {
    cursor: pointer;
}

.nav-wrap__item--title {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 52px;
}
.nav-wrap__item span{
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 142.857% */
    text-transform: uppercase;
    color: var(--Gray-1, #18191F);
}
.nav-wrap__item img {
    width: 24px;
    height: 24px;
}
.nav-wrap__icon {
    font-size: 20px;
}

.search-wrap{
    display: flex;
    align-items: center;
    width: 180px;
    height: 36px;
    background-color: var(--Gray-6);
    padding: 8px 12px;
    border-radius: 50px;
}
.search-wrap__icon{
    font-size: 20px;
    margin-right: 5px;
}
.search-wrap__input {
    border: hidden ;
    background-color: transparent;
}
.search-wrap__input:focus {
    outline: none;
}
input.search-wrap__input[type="search"] {
    outline: none;
              box-shadow:none !important;
              border:0 solid transparent !important;
              background-color: transparent;
}
input.search-wrap__input::-webkit-input-placeholder {
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    color: var(--Gray-3);
}

.fa-caret-down {
    font-size: 1.6rem;
}

.header-warp {
    background-color: var(--W);
    width: 1440px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn.btn-login {
    background-color: transparent !important;
    margin-left: 15px;
    border: 1px solid var(--P);
    border-radius: 50px;
    width: 119px;
    height: 36px;
    padding: 8px 20px;
}
.btn.btn-login:hover {
    background-color: var(--P) !important;
}
.btn-login__text {
    color:  var(--P);
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    
    display: block;
}
.btn-login__text:hover {
    color: var(--W);

}

/* Navigation */

#nav-pc {
   height: initial;
   position: relative;
   z-index: 1;
}
#nav-pc> li:hover > a {
    background-color: #ebe5e5;
    
    
}
#nav-pc > li {
    display: inline-block;
    
}
#nav-pc li {
    position: relative;
    
}

#nav-pc li a {
    display: block;
    line-height: 48px;
    padding: 0 24px;
    font-size: var(--primary-font-word);
    position: relative;
    color: #000;
    font-weight: bold;
    text-decoration: none;
    font-size: 24px;

}


#nav-pc .img-home {
    width: 80px;
    height: 32px;
    position: relative;
    top: 5px;
    
}
#nav-pc .img-game {
    width: 24px;
    height: 24px;

}

#nav-pc .img-tour {
    width: 24px;
    height: 24px;

}
#nav-pc .img-giftcode {
    width: 24px;
    height: 24px;

}
#nav-pc .img-vip {
    width: 24px;
    height: 24px;

}
#nav-pc .img-pay {
    width: 30px;
    height: 30px;
    top: 6px;
    position: relative;
}

/* search button */


.search-btn {
    float: right;
    height: 36px;
    width: 180px;
    display: inline-block;
    position: relative;
}   
.search-btn:hover {
    cursor: pointer;
    background-color: #f44336;
    
}
.search-btn + li:hover >.search-input {
    display: block;
}


.fa-magnifying-glass {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 1.4rem;
    color: #fff;
    line-height: 46px;
    text-align: center ;
}

#header .bars-btn {
    height: 48px;
    width: 60px;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}
.bars-btn:hover {
    background-color: #ccc;
    
}
.bars-btn:hover .fa-bars {
    color: #000;
}
.fa-bars {
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    font-size: 1.4rem;
    color: #fff;
    line-height: 46px;
    margin: auto;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

/*Resize the wrap to see the search bar change!*/

.wrap{
  width: 30%;
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
}
body{
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
}

.search {
  width: 100%;
  height: 48px;
  position: relative;
  top: 20px;
  right: 48px;
}
.btn-search {
    color: #969BAB;
    display: flex;
    flex-direction:row ;
    font-size: 24px;
    background-color: #F4F5F7;
    
}
.searchTerm {
    border: hidden ;
    background-color: transparent;
}
.searchTerm:focus {
    outline: none;
}

    /* Login button */
.login {
    position: absolute;
    left: 88px;
    top: -5px;
}

.button-login {
    height: 36px;
    width: 150px;
    font-size: 14px;
    border-radius: 15px 15px 15px 15px;
    background-color: transparent;
    border-color: rgb(235, 73, 15);
    border: 1px solid;
    color: rgb(235, 73, 15);
    font-weight: normal;
    cursor: pointer;
}

.button-login::before {
    content: "";
    background-color: rgba(190, 32, 32, 0.253);
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0px;
    transition: width 0.15s ease-in 0s;
    height: 100%;
    border-radius: 15px 15px 15px 15px;
}
.button-login:hover::before {
    width: 100%;
}

/* Slider */

@media (min-width: 576px) { 
    #slider {
        background-size:contain;
    }

}

#slider {
    background:linear-gradient(90deg, rgba(86, 13, 0, 0.8) 25.94%, rgba(24, 25, 31, 0) 100%, rgba(86, 13, 0, 0) 100%),url("/Game-vn/assets/img/slider.png");
    background-size:cover;
    background-repeat: no-repeat;
    width: 100%;
    
}

.slider {
    margin-bottom: -72px;

}
.slider-container {
    padding-top: 60px;
    padding-left: 152px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}
.slider-scroll {
    height: 600px;
    
}
.slider-text {
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.slider-text h2 {
    color: var(--W, #FFF);
    font-family: SVN-Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 88.889% */
    width: 505px;
}

.slider-subtext {
    display: flex;
    align-items: center;
    gap: 20px;
}

.slider-subtext span {
    color: var(--W, #FFF);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 133.333% */
}

.slider-subtext__right {
    display: flex;
align-items: center;
gap: 10px;
}
.slider-subtext__right span {
    color: var(--W, #FFF);
    font-family: SVN-Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 133.333% */
}

.fa-desktop {
    font-size: 14px;
    color: #ffffff;
}
.fa-laptop {
    font-size: 14px;
    color: #ffffff;
}


.right-slider {
    color: #fff;
    font-size: 132px;
    position: absolute;
    right: 15px;
    top: 25%;
}
.right-slider i {
    cursor: pointer;
}

.left-slider {
    color: #fff;
    font-size: 132px;
    position: absolute;
    left: 15px;
    top: 25%;
}

.left-slider i {
    cursor: pointer;
}



.button-play {
    display: flex;
    padding: 12px 24px;
    gap: 10px;
  align-items: center;
  appearance: none;
  background-color: transparent;
  border-radius: 24px;
  border-style: none;
  border: 1px solid #ffffff;
  /* box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0; */
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 32px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform,opacity;
  z-index: 0;
  top: 30%;
  left: 8%;
  box-shadow: rgb(255, 255, 255) 0 4px 4px 0, rgb(226, 227, 228) 0 8px 12px 6px;

}
.button-play span {
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 133.333% */
}

.button-play:hover {
  background: #F6F9FE;
  color: #000;
}

.button-play:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  
}

.button-play:focus {
  
  border: 2px solid #ffffff;
}

.button-play:not(:disabled) {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-play:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

.button-play:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-play:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

.button-play:disabled {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}


.slider-icon {
    display: flex;
align-items: center;
gap: 20px;
}
.appstore {
    
    width: 140px;
    height: 140px;
    
}

.ggplay  {
    
    width: 140px;
    height: 140px;
    
}

.appstore-img {
    width: 140px;
    height: 42px;
    cursor: pointer;
}

.ggplay-img {
    width: 140px;
    height: 42px;
    cursor: pointer;

}

/* Card slide */
.card-slide {
    
}

.card-slide__wrap {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    overflow: hidden;
}

.card-slide__item {
    cursor: pointer;
}
.card__selected {
    
}

.card-slide img {
    width: 276px;
    height: 140px;
    
}


#content, #contact, #footer {
    max-width: 768px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}


/* Content */


#content {
    font-size: 2.4rem;
    padding-top: 64px;
    padding-bottom: 110px;
}

.content-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}

.content-banner {
    width: 768px;
    height: 76px;
    background: rgb(173 205 235 / 28%);
    border-radius: 20px;
}
.banner-status {
    display: inline-flex;
    align-items: center;
    gap: 15px;
    padding-left: 80px;
    padding-right: 80px;
}
.banner-left {
    color: var(--P, #EF3F54);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 150% */
}
.banner-right {
    color: var(--P, #EF3F54);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 150% */
}

.banner-end {
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
    padding-left: 100px;
}
.banner-text {
    color: var(--Gray-2, #474A57);
    text-align: right;
    font-family: SVN-Poppins;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 184.615% */
    text-transform: uppercase;
}



.game-new {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.game-new__title {
    width: 768px;
    height: 32px;
    display: flex;
    justify-content: space-between;
}
.game-new__title--left {
    display: inline-flex;
    align-items: center;
    gap: 10px;
}

.game-new__title h4 {
    
    color: var(--Gray-1, #18191F);

    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 120% */
    text-transform: uppercase;
    
}
.game-new__title a {
    color: var(--P, #EF3F54);
    text-align: center;

    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
    text-decoration: none;
}

.game-new__title--right {
    display: inline-flex;
    align-items: flex-start;
    gap: 10px;
}


.address-section {
    display: flex;
    justify-content: space-between;
    margin-top: 32px ;
    flex-wrap: wrap;
}

.address-container {
    /* flex-basis: 15%; */
    /* margin-top: 16px; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.address__img {
    width: 108px;
    height: 108px;
}
.address__img--hot {
    
}
.address__img img {
    object-fit: contain;
    /* object-position: center center; */
}

.address__sourceimg:hover {
    opacity: 0.6;
    cursor: pointer;
}

.address__sourceimg-hot{
    width: 234px;
    height: 172px;
}

.address__sourceimg-hot:hover{
    opacity: 0.6;
    cursor: pointer;
}

.address-info {
    font-size: 4rem;
    color: #000;
    padding: 18px 0;
}
.address-heading {
    width: 100%;
}
.address-heading h4 {
    color: var(--Gray-1, #18191F);
    text-align: center;
    font-family: var(--primary-font-word);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 114.286% */
}

.address-subheading {
    opacity: 0.7;
    font-size: 2.4rem;
    font-style: italic;
    padding: 20px 0;
}

.address-paragraph {
    font-weight:500;
}

.address-btn {
    padding-top: 12px;
}

.address-btn button{
    display: inline-block;
    color: rgb(0, 0, 0);
    background-color: transparent;
    padding: 8px 12px;
    border: none;
    position: relative;
    border: 1px solid black;
}
.address-btn button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width:0;
    height: 100%;
    cursor: pointer;
    transform: translateX(-50%);
    background-color: #ccc;
    transition: width 0.15s ease-in;
}
.address-btn ,.text-btn {
    position: relative;
    
    font-size: 1.6rem;
}

.address-btn button:hover {
    cursor: pointer;
    color: #000;
}

.address-btn button:hover:before {
    cursor: pointer;
    color: #000;
    width: 100%;
}

/* Contact */
#contact {
    position: relative;
    max-width: 768px;
}
.contact-head {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.contact-title {
    color: var(--Gray-1, #18191F);
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 160% */
    text-transform: uppercase;
    text-align: center;
    
    
}
.line-left {
    width: 167px;
    height: 1px;
    
    background: linear-gradient(270deg, #C2C2C2 15.87%, rgba(255, 255, 255, 0.00) 100%);
}

.line-right {
    width: 167px;
    height: 1px;
    
    background: linear-gradient(90deg, #C2C2C2 15.87%, rgba(255, 255, 255, 0.00) 100%);
}

.img-contact {
    display: flex;
    justify-content: center;
    margin-top: 32px;
    flex-wrap: nowrap;
}

.contact-container {
    justify-content: center;
    margin-top: 16px;
}

.contact-img {
    width: 119.403px;
    height: 64px;
    flex-shrink: 0;
    display: block;
    margin: 0 auto;
}
.header-warp__left .fa-bars {
    width: 32px;
    height: 32px;
    font-size: 20px;
    display: block;
}
.contact__sourceimg {
    width: 70px;
    
    
    object-fit: contain;
}
.contact__sourceimg:hover {
    opacity: 0.6;
    cursor: pointer;
}

.digital-wrap {
    /* margin: 0 auto; */
    margin: 25px 0;
}





/* Footer */

.footer {
    display: block;
    max-width: 768px;
    padding-top: 46px;
    padding-bottom: 46px;
    background-color: #ccc;
    border-radius: 10px 10px 0 0;
    position: relative;
    margin: 0 auto;
    min-height: 267px;
}
.text-heading {
    font-size: 18px;
    padding-left: 10%;
    font-weight: normal;
}
.img-heading {
    position: absolute;
    top: 48px;
    left: 24px;
    width: 100px;
    height: 42px;
}
.footer-section {
    padding: 32px 0;
    position: relative;
    height: 18rem;
}

.footer-text {
    width: 49%;
    display: inline-block;
    position: relative;
}

.footer-info {
    font-size: 24px;
    font-weight: bold;
    display: inline-block;
}
.footer-info li {
    font-size: 1.7rem;
    list-style-type: none;
    font-weight: normal;
}
.footer-info2 {
    font-size: 24px;
    font-weight: bold;
    margin-left: 240px;
    display: inline-block;
    position: absolute;
    top: 36px;
    
}
.footer-info2 li {
    font-size: 1.7rem;
    list-style-type: none;
    font-weight: normal;
}

.fa-location-dot,
.fa-phone,
.fa-envelope {
    padding-right: 16px;
    font-size: 1.7rem;
    width: 10%;
    
}

.footer-input {
    display: inline-block;
    height: 72px;
    top: 32px;
    position: absolute;
    
} 
.head-input {
    font-size: 2.2rem;
    width: 101%;
    position: absolute;
    overflow: hidden;
    left: 140px;

}

.head-input h3 {
    font-size: 24px;
    font-weight: bold;
}
.head-input input {
    font-size: 1.6rem;
    padding: 8px;
    width: 49%;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid rgb(0 0 0 / 28%);
    
}
.footer-input {
    font-size: 2.2rem;
    width: 100.5%;
    
    display: inline-block;
}

.footer-input input {
    width: 20%;
    padding: 8px;
    font-size: var(--primary-font-word);
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid rgb(0 0 0 / 28%);
}


.footer-button {
    font-size: 2rem;
    display: inline-block;
    position: absolute;
    

}

.footer-btn  {
    padding: 8px 16px;
    text-transform: uppercase;
    background-color: #EF3F54;
    color: #EF3F54;
    margin: 8px 0;
    right:10px;
    position: absolute;
    border: 1px solid transparent;
    font-size: var(--primary-font-word);
}
.footer-btn::before {
    content: "";
    background-color: #be2020;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    transition: width 0.15s ease-in;
    height: 100%;
}
.footer-btn,.text-btn {
    position: relative;
    
    font-size: 1.6rem;
    color: #000;
}
.footer-btn:hover {
    
    cursor: pointer;

}
.footer-btn:hover::before {
    width: 100%;
}


.footer-end {
    font-size: 18px;
    font-weight: 100;
    color: rgb(28 11 11 / 55%);
    margin-left: 24px;
    margin-top: 12px;
}



/* FOOTER  */
#footer {
    background-color: var(--Gray-4);
}
.footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}
.footer-logo__img {
    width: 85px;
    height: 28px;
    object-fit: contain;
}
.footer-desc span {
    color: var(--Gray-3);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 166.667% */
    height: 40px;
    display: block;
    margin-left: 15px;
}

.row.footer-wrap__bottom {
    display: flex;
    margin: 0 15px;
}
.footer-info {
    width: 494px;
}
.footer-info ul {
    padding-left: 0;
}
.footer-info ul li{
    color: var(--Gray-3);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 166.667% */
}

.footer-sub__text {
    color: var(--Gray-2);
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 133.333% */
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 15px 0;
    display: block;
}

.input-group.input-sub__wrap {
    min-width: 200px;
    height: 48px;
}

.input-sub__wrap #button-1 {
    background: var(--P);
    border-radius: 0px 4px 4px 0px;
    color: var(--W);
    font-size: 16px;
    width: 48px;
    height: 48px;   
}

.footer-copyright {
    color: var(--Gray-3, #969BAB);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 133.333% */
    display: block;
    margin-bottom: 20px;
    margin-left: 20px;

}

@media only screen and (max-device-width: 768px) {
    .address__img--hot {
        width: 100%;
    }
    
}